# ==========================
# User files
# ==========================
*.user
*.rsuser
*.suo
*.userosscache
*.sln.docstates

# ==========================
# Environment
# ==========================
.env
.env.*

# ==========================
# Build output
# ==========================
[Bb]in/
[Oo]bj/
artifacts/

# ==========================
# Visual Studio
# ==========================
.vs/

# ==========================
# Rider
# ==========================
.idea/

# ==========================
# VS Code
# ==========================
.vscode/*
!.vscode/settings.json
!.vscode/extensions.json
!.vscode/launch.json
!.vscode/tasks.json

# ==========================
# Logs
# ==========================
*.log

# ==========================
# Test
# ==========================
TestResults/
BenchmarkDotNet.Artifacts/

# ==========================
# NuGet
# ==========================
*.nupkg

# ==========================
# Node
# ==========================
node_modules/

# ==========================
# Coverage
# ==========================
coverage/
coverage.*
*.coverage
*.coveragexml